body {
  background-color: #ddd;
}

header {
  border-bottom: 1px solid #fff;
}

h1 {
  padding: 10px;
}

.logo {
  color: #000;
}

.logo:hover {
  text-decoration: none;
  color: #fff;
}

h2 {
  padding: 10px;
}

h2.welcome {
  transform: translateY(-45%);
}

.nav-link {
  padding: 10px;
}

.list-group-item:hover {
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none !important;
}

ul.nav li {
  list-style-type: none;
  font-size: 14px;
}

ul.nav a {
  color: #000;
}
