{% extends 'records/base.html' %}
{% load static %}

{% block content %}
<h1>User's List</h1>
  {% for records in record_list %}
  <div class="jumbotron">
      <p>Owner: {{records.owner}}</p>


      {% ifequal records.is_available True %}
        <button class="btn btn-primary">Rent Now</button>
      {% endifequal %}
      {% ifequal records.is_available False %}
        <p>Not available</p>
      {% endifequal %}
      <p>Record Name: {{records.name}}</p>
      <p>${{records.price}} per week</p>
      {% ifequal records.is_available True %}
        <p>This vinyl is available</p>
      {% endifequal %}
      {% ifequal records.is_available False %}
        <p>This vinyl is not available</p>
      {% endifequal %}
      {% ifequal records.condition 'MINT' %}
        <p>Mint Condition</p>
      {% endifequal %}
      {% ifequal records.condition 'LIGHTLY' %}
        <p>Lightly Used</p>
      {% endifequal %}
      {% ifequal records.condition 'AVERAGE' %}
        <p>Average Condition</p>
      {% endifequal %}
      {% ifequal records.condition 'HEAVILY' %}
        <p>Heavily Used</p>
      {% endifequal %}
  </div>
  {% endfor %}
{% endblock %}
